<!DOCTYPE html>
<html>
  <head>
    <title>ShortLinker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <%= render 'layouts/navigation' %>
      <center>
        <div id="page-content">
          <% flash.each do |type, msg| %>
            <div class="alert alert-success" role="alert">
              <%= msg %>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </center>
    <%= render 'layouts/footer' %>
  </body>
</html>
